html, body {
  margin: 0;
  padding: 0;

  background: #A6FFF8;
background: -moz-linear-gradient(-45deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);
background: -webkit-linear-gradient(-45deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);
background: linear-gradient(135deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
