#gameChoices {
  display: flex;
  align-items: center;
  justify-content: center;
}


.gameLink {
  text-align: center;
}



.button {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}

#pic {
  height: 200px;
  width: 200px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  border: 3px solid black;
  width: 200px;
}


.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
