#gameChoices {
  display: flex;
  align-items: center;
  justify-content: center;
}


.gameLink {
  text-align: center;
}

#star {
  background-color: #008099
}






#pic {
  height: 125px;
  width: 155px;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  border: 8px solid #008099;
  text-align: center;

  padding: 20px;
  width: 250px;
  height: 250px;
}


.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container-fluid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 20px;


}

#favbutton {
  margin-right: 20px;
  margin-left: 15px;
}
