
.puzzle {
  font-family: 'Akaya Kanadaka', cursive;

 h1 {
 font-size: 48px;
 }
 h1, p {
   margin: 10px;
 }
 input {
   margin-left: 10px;
 }
}

.board {
 width: 300px;
 margin: auto;
}

 .square {
   display: inline-block;
   box-sizing: border-box;
   width: 100px;
   height: 80px;
   line-height: 60px;
   text-align: center;
   &.zero {
     background: lightblue;
   }
 }

 #puzzlebutton {
   margin: 30px;
   padding: 10px;

 }

#puzzle1 {
  color: #008099;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
}

#puzzlebutton {
  margin: auto;
  text-align: center;
}
