.text-center {
  font-family: 'Akaya Kanadaka', cursive;

}



.grid-card {
  position: relative;

  &::after {
    content: "";
    background-image: url('cover.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(0) perspective(100px);
    transition: .4s;
    backface-visibility: hidden;
  }
}

.grid-img {
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transform: rotateY(180deg) perspective(100px);
  transition: .4s;
  backface-visibility: hidden;
}

.grid-card-show {
  &::after {
    transform: rotateY(180deg) perspective(100px);
  }

  .grid-img {
    transform: rotateY(0) perspective(100px);
  }
}

.grid-card-finished {
  opacity: .5;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.image {
  height: 20px;
  width: 50px;
}

#btn{
  color: #008099;
  border: 2px solid #008099;
  width: 300px;
  margin-left: 110px;
}
