.grid {
  border: thin solid lightgray;
  line-height: 0;
  margin-bottom: 0.75rem;
  background-color: yellow;
}
.cell {
  border: thin solid lightgray;
  display: inline-block;
  height: 75px;
  width: 100px;
}
.message {
  float: right;
  font-weight: bold;
}

.game {
  background-color: red;
}
