


.links{
  display: flex;
  justify-content: space-around;
   flex-direction: row;
   padding-right: 100px;
     list-style: none;

}

.no-underline{
  color:white;
}





.link {
  height: 100px;
  width: 350px;
  margin: 50px;
 font-size: 50px;
}



#navlinks {
  padding: 30px;
}


.pa3 {

  background: #25CEC8;
background: -moz-linear-gradient(left, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
background: -webkit-linear-gradient(left, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
background: linear-gradient(to right, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
}
