#body {
  margin: auto;
  width: 60%;
  padding-top: 55px;
  padding-bottom: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Akaya Kanadaka', cursive;



  text-align: center;
  color: #008099;
  }

  #main {
    background-image: url("https://t4.ftcdn.net/jpg/03/16/73/17/360_F_316731711_Whvc2sv7GhojVhRA721xzO6gEkQwonpA.jpg" );

   background-repeat:no-repeat;

   background-size:cover;
   height: 900px;


  }

.welcome {
  color: #008099;
  padding: 20px;
  font-size: 70px;
}

#picture {
  border-radius: 50px;
  height: 35vh;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border:solid 7px #008099;
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);  background: #25CEC8;
  background: -moz-linear-gradient(left, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
  background: -webkit-linear-gradient(left, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
  background: linear-gradient(to right, #25CEC8 0%, #9569A4 50%, #45B0C5 100%);
}
