.gamebox {
  background-image: url('../game-background.png');
  height: 500px;
  width: 500px;
  margin: auto;
  margin-top: 20px;



  border: 6px solid blue;
}

.center {
  text-align: center;
  height: 400px;
  width: 220px;
  margin-top: 50px;

}


.square {
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: blue;

}



.reset {
  margin-top: 30px;
  font-size: 18px;
}

.status {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}

.input {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
