body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #008099;
  color: lightblue;
  border: 2px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 34px;
  height: 72px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 72px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;

}

.game-board {
  margin: 100px;
}

.game-info {
  margin-left: 20px;
}

#gameboard {


    height: 600px;
    width: 600px;
    border: 12px solid #008099;
    position: relative;
    font-family: 'Akaya Kanadaka', cursive;

  }

  .gamebox2 {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 50px;

    background: #A6FFF8;
  background: -moz-linear-gradient(-45deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);
  background: -webkit-linear-gradient(-45deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);
  background: linear-gradient(135deg, #A6FFF8 0%, #E0FFFE 49%, #A5F2DE 100%);



  }

  .cen {
    text-align: center;
    height: 420 px;
    width: 420px;
    margin-top: 50px;

  }


  .square2 {
    text-align: center;
  }

  .title2 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #008099;

  }



  .reset2 {
    margin-top: 30px;
    font-size: 18px;
    background-color: #008099;
    color: lightblue;
  }

  .status2 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    color: #008099;
    font-weight: bolder;
  }

  .input2 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
